<div class="main-container">
<app-clr-app-header></app-clr-app-header>
  <div class="content-container">
    <div class="content-area">
      <router-outlet></router-outlet>
    </div>
    <nav class="sidenav">
      <section class="sidenav-content">
        <section class="nav-group">
          <input id="tabexample2" type="checkbox">
          <label for="tabexample2">Instances</label>
          <ul class="nav-list">
            <li><a class="nav-link">A</a></li>
            <li><a class="nav-link">B</a></li>
            <li><a href="#/home" class="nav-link active">Intelligence</a></li>
            <li><a class="nav-link">D</a></li>

          </ul>
        </section>
      </section>
    </nav>

  </div>
</div>
